* {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  letter-spacing: 1.3px;
}

header {
  width: 100%;
  height: 40px;
  background-color: white;
  text-align: center;
  color: coral;
  padding-top: 5px;
  font-size: 30px;
  font-weight: 550;
}
nav {
  width: 100%;
  height: 40px;
  background-color: #f16334;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav ul li:not(.contact) {
  float: left;
  margin-left: 0px;
}
nav ul li a {
  text-decoration: none;
  display: block;
  width: 130px;
  height: 32px;
  color: white;
  text-align: center;
  padding-top: 8px;
  background-color: #f16334;
}
.dropdown {
  position: relative;
}
.dp-content {
  visibility: hidden;
  top: 5px;
  position: absolute;
  transition: all 150ms ease-in;
  left: 0px;
  background-color: transparent;
  z-index: 3;
}
.dp-content ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.dp-content ul li a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #0089ba;
  display: block;
}
.dropdown:hover .dp-content {
  visibility: visible;
  top: 35px;
}
.dp-content ul li a:hover {
  border: 1px solid white;
  transition: all 0.5s;
  background-color: black;
  color: white;
}
.container {
  width: 100%;
  height: 980px;
  background-color: darkgray;
  padding-top: 10px;
  background: url(images/bg.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}
footer {
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: darkgreen;
  padding-top: 50px;
}
#ananas {
  border-top: 1px solid #0089ba;
}
#eseb {
  border-radius: 0px 0px 10px 10px;
}
nav a:hover:not(.active) {
  transition: all 0.5s;
  background-color: black;
  color: white;
}
.active {
  background-color: crimson;
}
#contact {
  float: right;
}
.content {
  width: 1250px;
  height: 990px;
  background-color: #999;
  margin: 0px auto;
  opacity: 0.9;
  padding: 10px;
}
.resp {
  display: none;
}
.respmenuopen {
  display: none;
}
@media only screen and (max-width: 600px) {
  nav ul li a,
  .active {
    width: 100px;
    display: none;
  }
  .resp {
    display: block;
    background: url(images/resplogo.png) center no-repeat;
    background-size: cover;
  }
  .respmenuopen {
    display: none;
  }
  .respdiv {
    margin-left: 150px;
    padding-top: 5px;
    float: left;
  }
  nav {
    height: 50px;
  }
  .respmenu {
    float: left;
    background: url(images/respmenu.png) no-repeat center;
    background-size: cover;
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: relative;
  }
  .respmenuopen {
    z-index: 10;
    width: 200px;
    height: 300px;
    display: none;
    position: absolute;
    background-color: crimson;

    transition: all 150ms;
  }
  .respmenu:hover .respmenuopen {
    display: block;
  }
  .respmenuopen ul {
    margin: 0px;
    padding: 0px;
  }
  .respmenuopen ul li {
    list-style: none;
  }
  .respmenuopen ul li {
    display: block;
    text-decoration: none;
    padding: 20px;
    height: 30px;
    width: 100px;
    padding-left: 70px;
  }
  section {
    width: 10%;
    overflow: hidden;
  }
}
