* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  height: 70px;
  background-color: #0089ba;
  text-align: center;
  color: blanchedalmond;
  padding-top: 30px;
  font-size: 30px;
}
nav {
  width: 100%;
  height: 50px;
  background-color: #4b4453;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav ul li {
  display: inline-flex;
  margin-left: 50px;
}
nav ul li a {
  text-decoration: none;
  display: block;
  width: 80px;
  height: 27px;
  color: white;
  text-align: center;
  padding-top: 8px;
  background-color: #b89a09;
}
.dropdown {
  position: relative;
}
.dp-content {
  visibility: hidden;
  top: 5px;
  position: absolute;
  transition: all 150ms ease-in;
  left: -50px;
  background-color: transparent;
}
.dp-content ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.dp-content ul li a {
  text-decoration: none;
  color: darkslateblue;
  border-bottom: 1px solid #0089ba;
  display: block;
}
.dropdown:hover .dp-content {
  visibility: visible;
  top: 35px;
}
.dp-content ul li a:hover {
  border: 1px solid white;
  transition: all 0.5s;
  background-color: black;
  color: white;
}
.container {
  width: 100%;
  height: 600px;
  background-color: darkgray;
}
footer {
  text-align: center;
  width: 100%;
  height: 30px;
  background-color: darkgreen;
  padding-top: 20px;
}
#ananas {
  border-top: 1px solid #0089ba;
}
#eseb {
  border-radius: 0px 0px 10px 10px;
}
nav a:hover {
  transition: all 0.5s;
  background-color: black;
  color: white;
   border: 1px solid white;
}
