* {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  letter-spacing: 1.3px;
}

header {
  width: 100%;
  height: 40px;
  background-color: #333;
  text-align: center;
  color: white;
  padding-top: 5px;
  font-size: 30px;
  font-weight: 550;
  border-bottom: 2px solid crimson;
}
nav {
  width: 100%;
  height: 40px;
  background-color: #333;
  border-bottom: 2px solid crimson;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav ul li:not(.contact) {
  float: left;
  margin-left: 0px;
}
nav ul li a {
  text-decoration: none;
  display: block;
  width: 130px;
  height: 32px;
  color: white;
  text-align: center;
  padding-top: 8px;
  background-color: #333;
}
.dropdown {
  position: relative;
}
.dp-content {
  visibility: hidden;
  top: 5px;
  position: absolute;
  transition: all 150ms ease-in;
  left: 0px;
  background-color: transparent;
  z-index: 3;
}
.dp-content ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.dp-content ul li a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #0089ba;
  display: block;
}
.dropdown:hover .dp-content {
  visibility: visible;
  top: 35px;
}
.dp-content ul li a:hover {
  border: 1px solid white;
  transition: all 0.5s;
  background-color: black;
  color: white;
}
.container {
  width: 100%;
  height: 980px;
  background-color: transparent;
  padding-top: 10px;
  background-color: #333;
  background-size: cover;
  padding-bottom: 50px;
}
footer {
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: #333;
  padding-top: 50px;
  color: white;
  border-top: 4px solid crimson;
}
#ananas {
  border-top: 1px solid #0089ba;
}
#eseb {
  border-radius: 0px 0px 10px 10px;
}
nav a:hover:not(.active) {
  transition: all 0.5s;
  background-color: black;
  color: white;
}
.active {
  background-color: crimson;
}
#contact {
  float: right;
}
.content {
  width: 100%;
  height: 980px;
  background-color: transparent;
  margin: 0px auto;

  padding-top: 15px;
  position: relative;
}
.resp {
  display: none;
}
.respmenuopen {
  display: none;
}
.news {
  width: 296px;
  height: 200px;
  background-color: transparent;
  margin: 10px 20px 0px 10px;
  border-radius: 15px;
  float: left;
  font-size: 14px;
  border: 1px solid crimson;
}
.updiv {
  margin: 0px auto;
  background-color: transparent;
  width: 1320px;
  height: 200px;
  float: none;
  margin-bottom: 50px;
}
.pic {
  width: 295px;
  height: 150px;
  background-color: white;
  border-radius: 15px 15px 0 0;
}
.title {
  width: 285px;
  height: 45px;
  background-color: #333;
  border-radius: 0 0 15px 15px;
  padding: 5px 0 0 10px;
}
.news a {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: aliceblue;
}

@media only screen and (max-width: 600px) {
  nav ul li a,
  .active {
    display: none;
  }

  .resp {
    display: block;
    background: url(images/resplogo.png) left no-repeat;
    background-size: cover;
    height: 50px;
    width: 100px;
    margin: 0 a;
  }

  .respdiv {
    margin-left: 80px;
    padding-top: 5px;
    float: left;
    width: 60px;
    height: 50px;
  }
  nav {
    height: 64px;
  }
  .respmenu {
    float: left;
    background: url(images/respmenu.png) no-repeat center;
    background-size: cover;
    height: 60px;
    width: 50px;
    cursor: pointer;
    position: relative;
    margin-top: 0px;
  }
  .respmenuopen {
    z-index: 10;
    width: 200px;
    height: 300px;
    display: none;
    position: absolute;
    background-color: crimson;
    top: -9px;
    transition: all 1s;
    margin-top: 64px;
  }
  .respmenu:hover .respmenuopen {
    display: block;
    transition: all 1s;
    transition: all 1s;
  }
  .respmenuopen a {
    margin: 0px;
    padding: 0px;
  }
  .respmenuopen a {
    display: block;
    text-decoration: none;
    padding: 10px 20px 0px 0px;
    height: 50px;
    width: 180px;
    border-bottom: 1px solid #333;
  }
  section {
    width: 100%;
    overflow: hidden;
  }
  body {
    width: 100%;
  }
  .news {
    margin: 20px auto 0px 20px;
    align-self: center;
  }
  .container {
    padding: 0px;
    height: 2000px;
  }
  .updiv {
    width: 340px;
    height: 880px;
    margin: 0px auto;
    float: none;
  }
}
